<div class="mb-3">
  <label class="form-label" {% if field.field.widget.input_type != 'radio' %}for="{{ field.id_for_label }}"{% endif %}>{{ field.label }}</label>
  {% if field.field.widget.input_type == 'radio' %}
    <div>
    {% for radio in field %}
      <div class="form-check form-check-inline">
        {{ radio.tag }}
        <label class="form-check-label" for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
      </div>
    {% endfor %}
    </div>
  {% else %}
    {{ field }}
  {% endif %}
  {% if field.help_text %}<div class="form-text">{{ field.help_text|safe }}</div>{% endif %}
  {% for error in field.errors %}<div class="text-danger small">{{ error }}</div>{% endfor %}
</div>
